body{
margin:0;
font-family: Georgia, serif;
background:#fff8fa;
color:#7a3b52;
}


.inicio{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
rgba(255,230,235,.8),
rgba(255,255,255,.9)
),
url("fotos/portada.png");

background-size:cover;
background-position:center;

}


.contenido{

background:white;
padding:40px;
border-radius:25px;

text-align:center;

box-shadow:0 10px 30px #d8b06c;

max-width:500px;

}


h1{

font-size:70px;
color:#b8860b;

margin:10px;

}


h2{

font-size:35px;

}


.datos{

font-size:18px;

margin:30px;

}


button{

background:#b8860b;

color:white;

border:none;

padding:15px 35px;

border-radius:30px;

font-size:18px;

cursor:pointer;

}


button:hover{

transform:scale(1.05);

}
.oculto{
display:none;
}

.mensaje{

padding:80px 20px;
text-align:center;
background:#fff8fa;

}

.mensaje h2{

font-size:40px;
color:#b8860b;
margin-bottom:25px;

}

.mensaje p{

font-size:22px;
line-height:1.8;
max-width:700px;
margin:20px auto;

}
.carrusel{
    text-align:center;
    margin-top:40px;
}

.carrusel img{
    width:90%;
    max-width:500px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
    transition:1s;
}
.contador{

    padding:70px 20px;
    text-align:center;

}

.contador h2{

    color:#b8860b;
    font-size:38px;
    margin-bottom:35px;

}

.tiempo{

    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;

}

.caja{

    background:white;
    width:110px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(184,134,11,.25);

}

.caja span{

    font-size:42px;
    font-weight:bold;
    color:#b8860b;

}

.caja p{

    margin-top:10px;
    font-size:18px;

}
